// Center justify banner content
.banner-home, .banner-services, .banner-portfolio, .banner-contact {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.page-titles {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  line-height: 0;
  }

  .btn {
    margin-top: 35px;
  }

  .hh-peach {
  margin-bottom: 10px;
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  font-size: 1.2em;
  color: $text-color;
  font-weight: 400;
}

.banner-home button {
  display:block;
  margin: 0 auto;
  border: none;
  background-color: #fff5d5;
  border-radius: 30px;
  padding: 1em 6.3em 1em 6.3em;
}


.header-home {
  background-color: $color-home;
  background-image: url(../images/banner/pug-yellow.png);
  height: 100vh; 
  background-size: 265px 275px;
  background-repeat: no-repeat;
  background-position: bottom right;
  
}

.header-services {
  background-color: $color-services;
  background-image: url(../images/banner/grass-costume-dog.png);
  height: 100vh; 
  background-size: 253px 320px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.header-portfolio {
  background-color: $color-portfolio;
  background-image: url(../images/banner/corgi-orange.png);
  height: 100vh; 
  background-size: 237px 330px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.header-contact {
  background-color: $color-contact;
  background-image: url(../images/banner/black-dog-profile.png);
  height: 100vh; 
  background-size: 320px 278px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media (min-height: 800px){
 .header-home
 { background-size: 385px 400px;}
 .header-services
 {background-size: 356px 450px;}
 .header-portfolio {
   background-size: 331px 460px;
 }
 .header-contact {
   background-size: 450px 390px;
 }
}

@media (min-height: 1000px), (min-width: 760px){
  .hh-peach {
    margin-top: 100px;
  }
  .header-home {
    background-size: 626px 650px;
  }
  .header-services {
    background-size: 554px 700px;
  }
  .header-portfolio {
    background-size: 518px 720px;
  }
  .header-contact {
    background-size: 700px 607px;
  }
}

@media (min-height: 1300px) {
  .hh-peach {
    margin-top:300px;
}

}