// Center justify banner content
.banner-home, .banner-services, .banner-portfolio, .banner-contact {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.page-titles {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  line-height: 0;
  }

  .btn {
    margin-top: 35px;
  }

  .hh-peach {
  margin-bottom: 10px;
  @media (min-height: 800px) and (min-width: 760px){
    margin-top: 100px;
  }
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  font-size: 1.2em;
  color: $text-color;
  font-weight: 400;
}
.banner-home button a:hover, .banner-home button a:focus, .banner-home button a:active {
  @include hover;
}

.banner-home button {
  display:block;
  margin: 0 auto;
  border: none;
  background-color: #fff5d5;
  border-radius: 30px;
  padding: 1em 6.3em 1em 6.3em;
}


.header-home {
  background-color: $color-home;
  background-image: url(../images/banner/pug-yellow.png);
  @include background-img;
  background-size: 265px 275px;
  background-position: bottom right;
  @media (min-width: 800px){
    background-size: 385px 400px;
  }
  @media (min-height: 800px) and (min-width: 1160px){
    background-size: 626px 650px;
  }
  
}

.header-services {
  background-color: $color-services;
  background-image: url(../images/banner/grass-costume-dog.png);
  @include background-img;
  background-size: 253px 320px;
  background-position: bottom right;
  @media (min-width: 800px){
    background-size: 356px 450px;
  }
  @media (min-height: 800px) and (min-width: 1160px){
    background-size: 554px 700px;
  }
}

.header-portfolio {
  background-color: $color-portfolio;
  background-image: url(../images/banner/corgi-orange.png);
  @include background-img;
  background-size: 237px 330px;
  background-position: bottom;
  @media (min-width: 800px){
    background-size: 331px 460px;
  }
  @media (min-height: 800px) and (min-width: 1160px){
    background-size: 468px 650px;
  }
}

.header-contact {
  background-color: $color-contact;
  background-image: url(../images/banner/black-dog-profile.png);
  @include background-img;
  background-size: 320px 278px;
  background-position: bottom left;
  @media (min-width: 800px){
    background-size: 450px 390px;
  }
  @media (min-height: 800px) and (min-width: 1160px){
    background-size: 700px 607px;
  }
}
