// Center justify banner content
.banner-home, .banner-services, .banner-portfolio, .banner-contact {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  height: 95%;
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  font-size: 1.2em;
  color: $text-color;
  font-weight: 400;
}

.banner-home button {
  display:block;
  margin: 0 auto;
  border: none;
  background-color: #fff5d5;
  border-radius: 30px;
  padding: 1em 6.3em 1em 6.3em;
}

// Banner Image Style
// .banner-home {
//   position: relative;

//   &img {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     margin: 0;
//     height: auto;
//   }
// }

.header-home {
  background-color: $color-home;
  background-image: url(../images/banner/pug-yellow.png);
  height: 100vh; 
  background-size: 350px 363px;
  background-repeat: no-repeat;
  background-position: bottom right;
  
}

.header-services {
  background-color: $color-services;
  background-image: url(../images/banner/grass-costume-dog.png);
  height: 100vh; 
  background-size: 350px 442px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.header-portfolio {
  background-color: $color-portfolio;
  background-image: url(../images/banner/corgi-orange.png);
  height: 100vh; 
  background-size: 350px 486px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.header-contact {
  background-color: $color-contact;
  background-image: url(../images/banner/black-dog-profile.png);
  height: 100vh; 
  background-size: 350px 362px;
  background-repeat: no-repeat;
  background-position: bottom left;
}