// Header Styles (both h1 and h3)


// Highlighter style for header
.banner-home mark {
    display: inline-block;
    line-height: 0em;
    padding: 0.1em 0.3em 0.4em 0.3em;
    background-color: #fff5d5;
  }

// Center justify banner content
.banner-home, .banner-services, .banner-portfolio, .banner-contact {
  text-align: center;
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  color: $text-color;
  font-size: 1.3em;
  font-weight: 400;
}

.banner-home button {
  display:block;
  margin: 0 auto;
  border: none;
  background-color: #fff5d5;
  border-radius: 30px;
  padding: 1em 6.3em 1em 6.3em;
}