// Header Styles (both h1 and h3)
h1 {
  text-align: center;
  color: $text-color;
  line-height: 1em;
}

h3 {
    font-family: $body-font;
    line-height: 0em;
    margin-bottom: 3em;
    text-align: center;
    color: $text-color;
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  color: $text-color;
  font-size: 1.3em;
  font-weight: 500;
}

.banner-home button {
  display:block;
  margin: 0 auto;
  border: none;
  background-color: #fff5d5;
  border-radius: 30px;
  padding: 1em 6.3em 1em 6.3em;
}