// Center justify banner content
.banner-home, .banner-services, .banner-portfolio, .banner-contact {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  height: 95%;
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  font-size: 1.2em;
  color: $text-color;
  font-weight: 400;
}

.banner-home button {
  display:block;
  margin: 0 auto;
  border: none;
  background-color: #fff5d5;
  border-radius: 30px;
  padding: 1em 6.3em 1em 6.3em;
}

// Banner Image Style
header {
  position: relative;
 

  &img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    height: auto;
  }
}
.header-home {
  background-color: $color-home;
}

.header-services {
  background-color: $color-services;
}