// Highlighter style for header
.banner-home mark {
    display: inline-block;
    line-height: 0em;
    padding: 0.1em 0.3em 0.4em 0.3em;
    background-color: #fff5d5;
  }

// Center justify banner content
.banner-home {
  text-align: center;
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  color: $text-color;
}

.banner-home button {
  border: none;
  background-color: #fff5d5;
  border-radius: 35%;
  width: 100px;
}