// Highlighter style for header
.banner-home mark {
    display: inline-block;
    line-height: 0em;
    padding: 0.1em 0.3em 0.4em 0.3em;
    background-color: #fff5d5;
  }

// Header Styles (both h1 and h3)
h1 {
  text-align: center;
  color: $text-color;
  line-height: 1em;
  text-transform: lowercase;
}

h3 {
    font-family: $body-font;
    line-height: 0em;
    text-align: center;
    color: $text-color;
}

// Button Styles
.banner-home button a {
  text-decoration: none;
  font-family: $body-font;
  color: $text-color;
}

.banner-home button {
  border: none;
  background-color: #fff5d5;
  border-radius: 5px;
}