// Highlighter style for header
.banner-home mark {
    display: inline-block;
    line-height: 0em;
    padding: 0.1em 0.3em 0.4em 0.3em;
    background-color: #fff5d5;
  }

// Header Styles (both h1 and h3)
h1 {
  text-align: center;
  color: #0a1e22;
  line-height: 1em;
}

h3 {
    font-family: $body-font;
    line-height: 0em;
    text-align: center;
    color: #0a1e22;
}

// Button Styles