.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.form label {
    text-transform: lowercase;
    font-weight: 600;
}

.form input {
     line-height: 1.7;
     border-radius: 15px;
}
.checkbox label {
    font-weight: normal;
}
