.form-group {
    display: flex;
    flex-direction: column;
}

.form label {
    text-transform: lowercase;
    font-weight: 600;
}

.form input {
    width: 70
}
.checkbox label {
    font-weight: normal;
}
