.form {
    margin: 0 auto;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.form label {
    text-transform: lowercase;
    font-weight: 600;
}

.form input, .form select, .form option, .form textarea {
     line-height: 2;
     border-radius: 18px;
     border: 1px solid lightgray;
     font-family: $body-font;
     padding-left: 10px;
     cursor: pointer;
}

.form select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    line-height: 2;
}

.form input:focus, .form select:focus {
    outline: none;
    border: 2px solid $color-home;
}

.form textarea {
    width: 100%;
    height: 80px;
    resize: none;
}

.form-label label{
    font-weight: normal;
}

.submit input{
    background-color: $color-home;
    font-weight: 600;
    line-height: 2;
    font-size: large;
}


@media (min-width: 450px) {
    .form {
        margin: 0 auto;
        width: auto;
    }
}