.form {
    margin: 0 auto;
}

form {
    @media (min-height: 800px) and (min-width: 1160px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "personal-input service-input"
        "comments submit-btn";
        column-gap: 40px;
        .personal-input {
            grid-area: personal-input;
        }
        .service-input {
            grid-area: service-input;
        }
        button {
            grid-area: submit-btn;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.form label {
   @include lowercase;
    font-weight: 600;
}

.form input, .form select, .form option, .form textarea {
     line-height: 2;
     border-radius: 18px;
     border: 1px solid lightgray;
     font-family: $body-font;
     padding-left: 10px;
     cursor: pointer;
}

.form select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    line-height: 2;
}

.form input:focus, .form select:focus {
    outline: none;
    border: 2px solid $color-home;
}

.form textarea {
    width: 100%;
    height: 80px;
    resize: none;
    grid-area: comments;
}

.form-label label{
    font-weight: normal;
}

.submit input{
    background-color: $color-home;
    font-weight: 600;
    line-height: 2;
    font-size: large;
    @media (min-height: 800px) and (min-width: 1160px){
        margin-top: 60px;
    }
}
@media (min-height: 800px) and (min-width: 1160px) {
    #main-form {
        padding-bottom: 0;
    }
}

