footer {
    font-family: $body-font;
    color: $text-color;
    text-align: center;
    font-size: 1em;
    padding: 15px 0;
}

.home{
    background-color: $color-home;
}
.contact {
    background-color: $color-contact;
}
.portfolio {
    background-color:$color-portfolio;
}
.services {
    background-color:$color-services;
}
.SM-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    font-size: 1.6em;
    padding: 0;
    font-size: 2em;
}


.fa-envelope, .fa-instagram, .fa-facebook-square {
   color: $text-color;
}