footer {
    font-family: $body-font;
    color: $text-color;
    border-top: 1px solid black;
    text-align: center;
    font-size: 1em;
}

footer .home{
    background-color: $color-home;
}

.SM-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    font-size: 1.6em;
    padding: 0;
    font-size: 2em;
}


.fa-envelope, .fa-instagram, .fa-facebook-square {
   color: $text-color;
   padding: 15px;
}