
.gallery {
    display: grid;
    grid-template-columns: 1;
}

.gallery img {
    margin: 0 auto;
    padding-bottom: 20px;;
}

@media (min-width: 760px) {
    .gallery {

        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

    }
    .gallery img {
            padding-bottom: 0;
    }
}

.top-link {
    padding: 20px 20px;
    text-align: right;

    a {
        font-size: 1.2em;
        color: $text-color;
    }
    span {
        font-family: $body-font;
        text-transform: lowercase;
        font-size: 1em;
        
    }
}