
.gallery {
    display: grid;
    grid-template-columns: 1;
}

.gallery img {
    margin: 0 auto;
    padding-bottom: 20px;;
}

@media (min-width: 760px) {
    .gallery {

        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

    }
    .gallery img {
            padding-bottom: 0;
    }
}