main  {
    background-color: #fff5d5;
    padding: $page-padding;
}

#link {
    text-decoration: none;
    color: #ca9901;
    
}

#link:hover, #link:focus {
    color: $text-color;
    font-style: italic;
}