main  {
    background-color: #fff5d5;
    padding: $page-padding;
}

#link {
    text-decoration: none;
    color: #ca9901;  
}

#link:hover, #link:focus {
    color: $text-color;
    font-style: italic;
}

@media (min-width: 760px) {
    main {
        padding: 20px 100px 60px 100px;
    }

    #rates, .form-group{
        width: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    main {
        padding: 20px 200px 60px 200px;
    }
}