.menu-btn {
    background: none;
    border: none;
    font-size: 2em;
    font-family: $body-font;
    cursor: pointer;
}

.menu-btn .icon {
    position: relative;
}

nav ul {
    display: none;
    width: 100%;
}

nav .menu-btn, nav a {
    text-decoration: none;
}

.show header nav {
    display: block;
}
