#menu-btn {
    background: none;
    border: none;
    font-size: 2em;
    font-family: $body-font;
    cursor: pointer;
    text-align: right;
}

#menu-btn .icon {
    position: relative;
    
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-bar ul {
    display: none;
}

.show header nav ul {
    display: block;
}