// Resets
// Box Sizing Reset
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

// Image Reset
img {
    max-width: 100%;
    height: auto;
}

// Table Reset
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Margins on the body
body {
    margin-left: 20px;
    margin-right: 20px;
}