.list-title {
    @include uppercase;
    text-align: center;
    font-weight: 600;
}

.half-session, .full-session, .extras {
    display: flex;
    justify-content: space-between;
    @media (min-width: 500px){
        width: 400px;
        margin: 0 auto;
    }
}
