// font-family: 'Abril Fatface', cursive;
// font-family: 'Poppins', sans-serif;

h1 {
    font-family: $header-font;
    font-size: 50px;
    letter-spacing: 0.07em;
}

h2, h3 {
    font-family: $body-font;
    font-size: 0.9em;
    letter-spacing: 0.04em;
    text-transform: lowercase;
}


p, address, table {
    font-family: $body-font;
    font-size: 0.9em;
    letter-spacing: 0.04em;
}