// font-family: 'Abril Fatface', cursive;
// font-family: 'Poppins', sans-serif;

h1 {
    font-family: $header-font;
    font-size: 2.7em;
    letter-spacing: 0.07em;
    text-align: center;
    color: $text-color;
    font-weight: lighter;
    text-transform: lowercase;
}

h2 {
    font-family: $header-font;
    font-size: 1.1em;
    font-weight: lighter;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0.04em;
}

 h3 {
    font-family: $body-font;
    font-size: 0.9em;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    line-height: 0.8em;
}



p, address, table, form {
    font-family: $body-font;
    font-size: 0.9em;
    letter-spacing: 0.04em;
}

nav {
    font-weight: lighter;
    font-size: 0.9em;
}

// Custom Web Site Heading Styles
.hh {
    
    span {
        line-height: 0em;
        position: relative;
        display: inline-block;
        padding: 0.1em 0.3em 0.4em 0.3em;
    }
    
    &.hh-peach span {
        background-color: #fff5d5;
    }
    &.hh-yellow span {
        background-color: #fcda6e;
    }
    &.hh-pink span {
        background-color: #fbe4f3;
    }
    &.hh-orange span {
        background-color: #f2c075;
    }
    &.hh-white span {
        background-color: white;
    }
}