// Font Variables
$header-font:  'Abril Fatface', cursive;
$body-font:  'Poppins', sans-serif;

// Text Color Variable
$text-color: #0a1e22;


$bg-color-light: #fff5d5;
$color-home: #edb506;


$bg-color-light: #fff5d5;
$color-home: #edb506;
$bg-color-light: #fff5d5;
$color-contact: #f4f7fc;
$color-portfolio: #de6a2c;
$color-services: #f6b8e1;

// Padding Variable
$page-padding: 20px 30px 30px 30px;


