// Font Variables
$header-font:  'Abril Fatface', cursive;
$body-font:  'Poppins', sans-serif;

// Text Color Variable
$text-color: #0a1e22;
<<<<<<< HEAD

// Margins Variable
$page-margin: auto 20px;
=======
$bg-color-light: #fff5d5;
>>>>>>> cc3bcc6ac1f561281d44b6da53158713eff2c160
