// Font Variables
$header-font:  'Abril Fatface', cursive;
$body-font:  'Poppins', sans-serif;

// Text Color Variable
$text-color: #0a1e22;


$bg-color-light: #fff5d5;
$color-home: #edb506;


$bg-color-light: #fff5d5;
$color-home: #edb506;

// Margins Variable
$page-margin: auto 20px;

$bg-color-light: #fff5d5;
