@charset "utf-8";
/* CSS Document */

//Imports

//Resets
//Remember order of importance
@import 'resets';
@import 'variables';

@import 'nav';
@import 'banner';
@import 'main';
@import 'typography';
<<<<<<< HEAD
@import 'footer';
=======
@import 'footer';

>>>>>>> cc3bcc6ac1f561281d44b6da53158713eff2c160
