@charset "utf-8";
/* CSS Document */

//Imports
//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300,400,700&display=swap');
//Resets
//Remember order of importance
@import 'variables';
@import 'resets';


@import 'nav';
@import 'banner';
@import 'main';
@import 'services';
@import 'typography';
@import 'footer';
@import 'gallery';
@import 'booking-form';



