@charset "utf-8";
/* CSS Document */

//Imports

//Resets
//Remember order of importance
@import 'resets';
@import 'variables';

@import 'nav';
@import 'banner';
@import 'main';
@import 'typography';
@import 'footer';
<<<<<<< HEAD
=======
=======
@import 'footer';
@import 'gallery';

>>>>>>> cc3bcc6ac1f561281d44b6da53158713eff2c160
>>>>>>> 9fe3df1717fae3e580702611abd0bbb966fe6b0f
