@charset "utf-8";
/* CSS Document */

//Imports

//Resets
//Remember order of importance
@import 'resets';
@import 'variables';

@import 'nav';
@import 'banner';
@import 'typography';
@import 'footer';
@import 'gallery';

